/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General Styles */
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f8f9fa;
    color: #212529;
    margin: 0; /* Pour supprimer les marges par défaut du corps */
}

.container-block {
    background: linear-gradient(to bottom right, #ff7f00, #eebb23); /* Dégradé orange */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    min-height: 00px;
}


.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    transition: color 0.3s ease, font-size 0.3s ease; /* Ajouter une transition sur la couleur et la taille de la police */
}

.container h1,
.container a {
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Ajouter un ombrage au texte */
    transition: color 0.3s ease, font-size 0.3s ease, text-shadow 0.3s ease; /* Ajouter une transition sur la couleur, la taille de la police et l'ombrage du texte */
    
}

header {
    color: orange;
    padding: 20px 0;
}

.icon-container{
    display: flex;
    gap: 15px;
}

.cart-link {
    color: orange;
    text-decoration: none; /* Supprimer le soulignement du lien */
    font-size: 20px; /* Ajuster la taille de l'icône */
}

.connect-link {
    color: green;
    text-decoration: none; /* Supprimer le soulignement du lien */
    font-size: 20px; /* Ajuster la taille de l'icône */
}


header h1 {
    font-size: 24px;
    margin: 0;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    text-decoration: none;
    color: orange;
    transition: color 0.3s ease;
    font-size: 20px;
}



nav ul li a:hover {
    color: #ffd700;
}

.fa-shopping-cart:hover{
    color: #ffd700;
}

.fa-user:hover {
    color: lightgreen;
}

.hero {
    background-image: url('hero.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    padding: 100px 0;
}

h2{
    margin-top: 20px;
    text-align: center;
}

.hero h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.block {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 50px ;
    margin-left: 20px;
    margin-right: 20px;
}

.image-block {
    width: calc(20% - 20px);
    margin-bottom: 20px;
    position: relative;
    overflow: hidden; /* Pour garantir que les images ne débordent pas du conteneur */
}

.image-block img {
    width: 100%;
    height: 200px; /* Hauteur fixe pour les images */
    object-fit: cover; /* Redimensionne les images pour qu'elles couvrent le conteneur tout en conservant leur ratio */
    border-radius: 5px;
    border: 5px solid white;
}

.overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 28px;
    font-weight: bold;
}

.block-text {
    background-image: url(Bandeau\ Fil\ rouge.jpg);
    padding: 20px;
    margin-bottom: 50px;
    color: white;
    height: 290px;
    background-size: cover;
    border-bottom-left-radius: 35%;
    border-bottom-right-radius: 35%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.block-text h1{
    margin-left: 30px;
    font-size: 40px;
}

.buttons-responsive{
    text-align: center;
    visibility: hidden;
}

.buttons {
    text-align: left;
    margin-left: 50px;
}

.buttons .button {
    cursor: pointer;
    padding: 15px 30px;
    margin-right: 10px;
    border: none;
    color: #fff;
    text-decoration: none;
    border-radius: 15px;
    transition: background-color 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Ajouter une légère ombre */
    border: 2px solid white;
}

.buttons-responsive .button {
    padding: 15px 30px;
    margin-right: 10px;
    border: none;
    color: #fff;
    text-decoration: none;
    border-radius: 15px;
    transition: background-color 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Ajouter une légère ombre */
}

.buttons .button:hover {
    background-color: #0056b3;
    transform: translateY(-1px); /* Ajouter un effet de translation vers le haut au survol */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Augmenter l'ombre au survol */
}

.buttons .connexion {
    background-image: linear-gradient(to right, #007bff, #0056b3); /* Dégradé bleu pour le bouton Connexion */
}

.buttons .create {
    background-image: linear-gradient(to right, #28a745, #218838); /* Dégradé vert pour le bouton Créer un compte */
}

.buttons .config {
    background-image: linear-gradient(to right, #e83c69, #f56dcc); /* Dégradé rose foncé pour le bouton Config */
}

.buttons .admin {
    background-image: linear-gradient(to right, #bc2121, #FF8E8E); /* Dégradé de rouge pour le bouton Config */
}

footer {
    display: flex;
    bottom: 0; /* Fixer le footer au bas de la fenêtre */
    width: 100%; /* Pour étendre le footer sur toute la largeur */
    background-color: #343a40;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

footer .container{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.footer-left nav ul{
    display: flex;
    flex-direction: column;
}

.footer-left nav ul li {
    text-align: left;
}


.footer-center{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-right{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

footer .button{
    padding: 10px 15px; /* Ajuster la taille des boutons */
    font-size: 14px;
    border: 2px solid white;
    border-radius: 10px;
}

.send{
    background-image: linear-gradient(to right, #28a745, #218838); /* Dégradé vert pour le bouton Créer un compte */
    color: white;
}


@media screen and (max-width: 768px) {
    .image-block img {
        width: 100%;
        height: 90px; /* Hauteur fixe pour les images */
        object-fit: cover; /* Redimensionne les images pour qu'elles couvrent le conteneur tout en conservant leur ratio */
        border-radius: 5px;
    }
    .container{
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }


    .overlay-text{
        font-size: 18px;
    }

}

@media screen and (max-width: 637px) {

    .container-block{
        min-height: 1300px;
    }

    .buttons .button {
        text-align: center;
        padding: 10px 20px; /* Ajuster la taille des boutons */
        font-size: 10px;
    }

    .block{
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .image-block{
        width: 200px;
    }

    .image-block img{
        height: 200px;
    }

}

@media screen and (max-width: 540px) {

    .container-block{
        min-height: 1800px;
    }

    header {
        flex-direction: column;
        text-align: center;
    }

    header h1 {
        margin-bottom: 20px;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        margin: 10px 0;
    }

    h2{
        text-align: center;
        margin-top: 20px;
    }
    
    .container{
        flex-direction: column;
        align-items: center;
    }

    .image-block img {
        width: 100%;
        height: 200px;
        object-fit: cover; /* Redimensionne les images pour qu'elles couvrent le conteneur tout en conservant leur ratio */
        border-radius: 5px;
    }

    .buttons {
        text-align: center;
    }

    .buttons .button {
        margin-bottom: 20px;
    }

    .overlay-text{
        font-size: 14px;
    }

}

@media screen and (max-width: 462px) {


    .image-block img {
        width: 100%;
        height: 200px; /* Hauteur fixe pour les images */
        object-fit: cover; /* Redimensionne les images pour qu'elles couvrent le conteneur tout en conservant leur ratio */
        border-radius: 5px;
    }

    .overlay-text{
        font-size: 20px;
    }

    .buttons .button {
        visibility: hidden;
        padding: 5px 10px; /* Ajuster la taille des boutons */
        font-size: 8px;
    }

    .buttons-responsive .button {
        visibility: visible;
        padding: 5px 10px; /* Ajuster la taille des boutons */
        font-size: 12px;
        margin-left: 10px;
    }

    .buttons-responsive .connexion {
        background-image: linear-gradient(to right, #007bff, #0056b3); /* Dégradé bleu pour le bouton Connexion */
    }
    
    .buttons-responsive .create {
        background-image: linear-gradient(to right, #28a745, #218838); /* Dégradé vert pour le bouton Créer un compte */
    }
    
    .buttons-responsive .config {
        background-image: linear-gradient(to right, #e83c69, #f56dcc); /* Dégradé rose foncé pour le bouton Config */
    }
    

}

@media screen and (max-width: 433px) {
    
    .block-text h1{
        font-size: 35px;
    }

    .buttons .button {
        visibility: hidden;
        padding: 5px 10px; /* Ajuster la taille des boutons */
        font-size: 8px;
    }

    .buttons-responsive .button {
        visibility: visible;
        padding: 10px 20px; /* Ajuster la taille des boutons */
        font-size: 12px;
        margin-left: 10px;
    }

    .buttons-responsive{
        text-align: center;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        gap: 10px;    
    }

    .buttons-responsive .connexion {
        background-image: linear-gradient(to right, #007bff, #0056b3); /* Dégradé bleu pour le bouton Connexion */
    }
    
    .buttons-responsive .create {
        background-image: linear-gradient(to right, #28a745, #218838); /* Dégradé vert pour le bouton Créer un compte */
    }
    
    .buttons-responsive .config {
        background-image: linear-gradient(to right, #e83c69, #f56dcc); /* Dégradé rose foncé pour le bouton Config */
    }
    

}

.container-block {
    position: relative;
}

.overlay {
    position: fixed;
    top: 0;
    width: 50%;
    height: 100%;
    z-index: 999;
    transition: transform 0.5s ease-in-out;
}

.blue-overlay {
    background: linear-gradient(to bottom right, #ff7f00, #eebb23);
    left: 0;
}

.red-overlay {
    background: linear-gradient(to bottom right, #eebb23, #ff7f00);
    left: 50%;
}

.show-blue-overlay {
    transform: translateX(-100%);
}

.show-red-overlay {
    transform: translateX(100%);
}

.show-button {
    color: darkorange;
    position: fixed;
    top: 60%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #fff;
    border: 5px solid darkorange;
    border-radius: 5px;
    opacity: 0; /* Initial opacity */
    animation: fadeIn 3s ease 4s forwards; /* Utilisation de l'animation fadeIn définie ci-dessous */
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.bonjour-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 48px;
    font-weight: bold;
    z-index: 1000;
    color: white;
}

.bonjour-letter {
    opacity: 0;
    display: inline-block;
    transition: opacity 1.5s ease-in-out;
}

.bonjour-letter.show {
    opacity: 1;
}

.hidden {
    display: none !important;
}