<header>
    <div class="container">
        <a href="{{ path('app_index') }}">
            <h1 id="header-title">COUP'ACIER</h1>
        </a>
        <!-- Icône de menu pour mobile -->
        <i class="fas fa-bars menu-icon" id="icone" onclick="toggleMenu()"></i>
        <!-- Icône supplémentaire -->
        <nav id="main-nav">
            <ul>
                <li><a href="#">Accueil</a></li>
                <li><a href="#">Produits</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">Configuration</a></li>
            </ul>
        </nav>
        <div class="icon-container" id="icon-container">
            <a href="#" class="cart-link"><i class="fas fa-shopping-cart"></i></a>
            <a href="#" class="connect-link"><i class="fas fa-user"></i></a>
        </div>
    </div>
</header>
